<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="LocationID" value="1" />-->
    <!--<add key="CounterID" value="1" />-->
    <!--<add key="BackupDrive" value="D:\Database Backup\" />-->
    <!--<add key="HostIP" value="192.168.100.154:9026" />-->
    <!--<add key="HostIP" value="localhost:9026" />-->
    <add key="HostIP" value="" />
    <add key ="ImgPath" value=""/>
    <!--<add key="HostIP" value="13.76.132.123:82" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
